/* text of header */
.small-text {
    font-size: 12px;
}

/* header color */
.bgcolor {
    background-color: rgb(177, 245, 248);
}

.style-link {
    text-decoration: none;
    color: black;
}

.pic_logo {
    width: 60px;
}

/* Cart style */
.cart-icon {
    position: relative;
    display: inline-block;
}

/* Product_card_page */
.variation_pic {
    width: 70%;
}

.gap_line {
    line-height: 0.8;
}

.frame_W {
    width: 90px;
    margin: 2px;
}

@media (max-width: 425px) {
    .hide{
        display: none
    }
}
